.popup__input-error {
  margin: 0;
  padding: 0;
  visibility: hidden;
  color: red;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  top: 30px;
}

.popup__input-error:nth-of-type(2) {
  top: 88px;
}
