.profile__name {
  margin: 0px 0px 9px 0px;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin: 26px auto 8px;
  }
 }
