.popup__text-input {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  width: 100%;
  height: 27px;
}

.popup__text-input:nth-child(2) {
  margin-bottom: 55px;
}

@media screen and (max-width: 767px) {
  .popup__text-input:nth-child(2) {
    margin-bottom: 45px;
  }
}

.popup__text-input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__text-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__text-input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__text-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
